{% extends "layout/base.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<!-- Side bar -->
{% include "layout/sidebar.html" %}
<!-- Content -->
<div class="col-9 d-flex flex-column pt-3 pe-4" style="min-height:95vh">
    <!-- Profile -->
    <div class="row">
        <div class="col-3 g-0 d-flex justify-content-center">
            <img class="rounded-circle border" height="85%" src="{{profile.profilePath}}">
        </div>
        <div class="col-7 g-0 d-flex flex-column">
            <div class="d-flex justify-content-between align-items-center">
                <p class="fs-2 fw-bold m-0">{{profile.firstName}} {{profile.lastName}}</p>
                {% if followed %}
                <button class="follow-btn disabled"><span>Following</span><i class="bi bi-check-all fs-4 ms-1"></i></button>
                {% else %}
                <form action="{{url_for('people.add_follow')}}" method="POST">
                    <button class="follow-btn" type="submit" name="follow" value ="{{profile.username}}">Follow</button>
                </form>
                {% endif %}
            </div>
            <p class="text-muted fw-semibold">@{{profile.username}}</p>
            <p class="mb-0"><span class="me-3"><strong>{{fg_count.count}}</strong> Following</span><span><strong>{{fr_count.count}}</strong> Followers</span></p>
            {% if common|length==0 %}
            <p><small class="text-muted">Not followed by anyone you follow</small></p>
            {% elif common|length==1 %}
            <p><small class="text-muted">Followed by <span class="fw-semibold">{{common[0].username}}</span></small></p>
            {% elif common|length==2 %}
            <p><small class="text-muted">Followed by <span class="fw-semibold">{{common[0].username}}</span> and <span class="fw-semibold">{{common[1].username}}</span></small></p>
            {% else %}
            <p><small class="text-muted">Followed by <span class="fw-semibold">{{common.one}}</span>, <span class="fw-semibold">{{common.two}}</span>, and {{common.count}} others you follow</small></p>
            {% endif %}
        </div>
    </div>
    <div class="row flex-column flex-grow-1">
        <!-- Filters -->
        <ul class="user-filters nav nav-fill">
            <li class="nav-item {% if option=='posts' %}active{% endif %}">
                <a class="nav-link" href="{{url_for('.get_user_profile', username=profile.username)}}">Posts</a>
            </li>
            <li class="nav-item {% if option=='tagged' %}active{% endif %}">
                <a class="nav-link" href="{{url_for('.get_user_profile', username=profile.username, option='tagged')}}">Tagged</a>
            </li>
            <li class="nav-item {% if option=='commented' %}active{% endif %}">
                <a class="nav-link" href="{{url_for('.get_user_profile', username=profile.username, option='commented')}}">Commented</a>
            </li>
        </ul>
        <!-- Posts -->
        {% if not posts %}
        <div class="d-flex flex-fill justify-content-center align-items-center">
            <p class="text-muted text-center fs-5"><i class="bi bi-person-lock fs-1 text-muted"></i><br>There is no post available to you.</p>
        </div>
        {% else %}
            {% if option=='posts' %}
            <div class="row row-cols-1 row-cols-md-3 row-cols-lg-5 g-3 p-0" data-masonry='{"percentPosition": true}'>
                {% for p in posts %}
                <div class="col">
                    <a href="{{url_for('posts.post_details', pid=p.pID)}}">
                        <div class="card">
                            <img src="/static/photos/{{p.filePath}}" class="rounded" alt="post picture">
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            {% elif option=='tagged' %}
            <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-3 p-0" data-masonry='{"percentPosition": true}'>
                {% for p in posts %}
                <div class="col">
                    <a href="{{url_for('posts.post_details', pid=p.pID)}}" class="link-dark text-decoration-none">
                        <div class="card">
                            <div class="card-header d-flex align-items-center bg-white px-3">
                                <img class="profilePic img-fluid rounded-circle me-2" src="{{p.profilePath}}" alt="profile picture">
                                <p class="m-0 fw-semibold">{{p.username}}</p>
                            </div>
                            <img src="/static/photos/{{p.filePath}}" class="rounded-bottom" alt="post picture">
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            {% elif option=='commented' %}
            <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-3 p-0" data-masonry='{"percentPosition": true}'>
                {% for p in posts %}
                <div class="col">
                    <a href="{{url_for('posts.post_details', pid=p.pID)}}" class="link-dark text-decoration-none">
                        <div class="card">
                            <div class="card-header d-flex align-items-center bg-white px-3">
                                <img class="profilePic img-fluid rounded-circle me-2" src="{{p.profilePath}}" alt="profile picture">
                                <p class="m-0 fw-semibold">{{p.username}}</p>
                            </div>
                            <img src="/static/photos/{{p.filePath}}" alt="post picture">
                            <div class="card-body d-flex align-items-center p-2">
                                <img class="profilePic img-fluid rounded-circle me-2" style="width:1.5rem; height:1.5rem;"
                                src="{{profile.profilePath}}" alt="profile picture">
                                <p class="card-text text-truncate"><small>{{p.comment}}</small></p>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}
{% block masonry_script %}
<script type="text/javascript">
    var $grid = $('#masonry').masonry({
        itemSelector: '.col',
        percentPosition: true
    });
    $grid.imagesLoaded().progress(function () {
        $grid.masonry();
    });
</script>
{% endblock %}